@model IEnumerable<ShoppingBuddy.Models.crn_detail>
 @*creates a table with the following headings*@
<table class="table">
    <tr>


        <th>
            @Html.DisplayName("Lecturer Name")
        </th>
        <th>
            @Html.DisplayName("Department Code")
        </th>
        <th>
            @Html.DisplayName("Subject Code")
        </th>
        <th>
            @Html.DisplayName("Campus Name")
        </th>
        <th>
            @Html.DisplayName("Competency Code")
        </th>
        <th>
            @Html.DisplayName("Subject Description")
        </th>

        <th></th>
    </tr>
    @*populates the data side of the table with the all the details that match the filters
    if no filter has been selected then all details will display
    logic for that in both index methods in the index page of the crn_detail controller*@
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.lecturer.GivenName)
                &nbsp;
                @Html.DisplayFor(modelItem => item.lecturer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.campu.CampusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.competency.NationalCompCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject.SubjectDescription)
            </td>
            <td>


             @*this is the link that goes to the:
             "public ActionResult Details(string id, int termCodeStart, int termYearStart)"
                this grabs the primary keys of the selected item and passes them through to
                the details view*@
                @Html.ActionLink("Details", "Details", new
           {
               id = item.CRN.ToString(),
               termCodeStart = item.TermCodeStart,
               termYearStart = item.TermYearStart

           }) |

            </td>
        </tr>

    }

</table>